*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 100vh;
    width: 100%;
}
nav{
    height:60px;
    width: 100%;
    padding: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    background-color: lightgoldenrodyellow;
}
.title{
    font-size: 32px;
    font-weight: bolder;
    padding-left: 10%;
    letter-spacing: 8px;
}
ul li{
    list-style: none;
    float: left;
    margin: 0 20px;
}
ul li a{
    text-decoration: none;
}
ul li a:visited{
    color: brown;
}
.main{
    font-size: 35px;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding: 50px;
    letter-spacing: 3px;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('images/banner.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: lightgoldenrodyellow;
}
.main div{
    margin-top: 15%;
}
.main span{
    text-shadow: 2px 2px lightcoral;
}
.btn{
    height: 50px;
    width: 180px;
    margin-top: 30px;
    letter-spacing: 3px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color: burlywood;
    color: brown;
}
.services{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    height: 300px;
    font-size: 20px;
    border-bottom: 2px solid black;
    background-color: lightgoldenrodyellow;
    color: brown;
}
.services div{
    margin-top: 5%;
    border: 2px solid burlywood;
    border-radius: 20px;
    width: 30%;
    height: 150px;
    padding-top: 2%;
}
.services div:hover{
    box-shadow: 5px 5px 10px brown;
    background: rgba(112, 69, 40, 0.404);
}
.services div h3{
    margin-top: 10px;
}
.services i{
    color: brown;
}
footer{
    height: 80px;
    width: 100%;
    padding: 2%;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgba(73, 37, 7, 0.849);
    color: lightgoldenrodyellow;
}
footer i{
    margin: 0 30px;
}
footer i:hover{
    color: burlywood;
}
footer h3{
    font-size: 28px;
    font-weight: bold;
}
.categories{
    border-bottom: 2px solid black;
    background-color: rgba(73, 37, 7, 0.849);
    color: lightgoldenrodyellow;
    padding: 10px;
}
.categories h1{
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
    letter-spacing: 5px;
    font-weight: bolder;
    text-shadow: 2px 2px lightcoral;
}
.category{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 8%;
}
.category div{
    margin: 0 20px;
}
.category img{
    width: 450px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px lightgoldenrodyellow;
}
.category img:hover{
    border: 2px solid lightgoldenrodyellow;
}
.category h2{
    letter-spacing: 3px;
    margin-top: 20px;
}
.update{
    height: 250px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid black;
    background-color: lightgoldenrodyellow;
    color: brown;
}
.update div{
    margin-top: 4%;
}
.update input{
    height: 50px;
    width: 300px;
    padding: 10px;
}
.update button{
    height: 50px;
    width: 150px;
    color: brown;
    font-size: 15px;
    font-weight: bold;
}
.update p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.signup{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('images/sign.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: lightgoldenrodyellow;
}
.signup div{
    margin-top: 5%;
    width: 45%;
    text-align: center;
}
.signup div form{
    width: 550px;
    height: 300px;
    margin-top: 10%;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(250, 250, 210, 0.6);
    color: black;
}
.signup form:hover{
    box-shadow: 3px 3px 10px lightgoldenrodyellow;
}
.signup div form input{
    height: 40px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    outline: none;
    padding: 10px;
}
table{
    margin: 15%;
}
.signbtn{
    cursor: pointer;
    font-weight: bold;
}
.signbtn:hover{
    background: burlywood;
    color: brown;
}
.info{
    padding: 5%;
    font-size: 28px;
    line-height: 50px;
}
.info h1{
    letter-spacing: 4px;
    text-shadow: 2px 2px lightcoral;
}

